html,
body {
	padding-bottom: 300px;
}
// Header======
.header {
	.header-logo {
		width: 115px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.headline {
		font-size: 32px;
		font-weight: 700;
		text-align: center;
		padding-right: 30px !important;
		padding-left: 30px !important;
	}
	.headline-img {
		padding-top: 20px !important;
	}
}

// First Section====
.first-section {
	& > table > tbody > tr > th > center {
		padding-top: 25px;
	}
	span {
		font-size: 16px !important;
		font-weight: 600;
		color: #ea4c89;
	}
	p {
		color: #0d0c22;
		padding-top: 25px;
		padding-right: 10px !important;
		padding-left: 10px !important;
		line-height: 1.4;
	}
}
.second-section {
	padding-top: 20px;
	img {
		padding-top: 10px;
	}
	span {
		text-align: center;
	}
	p {
		color: #0d0c22;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 10px !important;
		padding-left: 10px !important;
		line-height: 1.4;
	}
}
.third-section {
	padding-top: 20px;
	.headline {
		font-size: 32px;
		font-weight: 700;
		text-align: center;
		padding-right: 30px !important;
		padding-left: 30px !important;
	}
	img {
		padding-top: 10px;
	}
	span {
		color: #ea4c89;
	}
	p {
		color: #0d0c22;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 10px !important;
		padding-left: 10px !important;
		line-height: 1.4;
	}
}
.footer {
	padding-top: 60px;

	p {
		text-align: center;
		font-size: 13px;
		color: #6e6d7a;
	}
	a {
		font-size: 13px;
		color: #6e6d7a;
		text-decoration: underline;
	}
	img {
		width: 50px;
		padding-top: 5px;
	}
	span {
		color: #ea4c89;
	}
	table.button.light-gray {
		color: #0d0c22;
	}
}
