html,
body {
	padding-bottom: 300px;
}
// Header======
.header {
	.header-logo {
		width: 115px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.headline {
		font-size: 32px;
		font-weight: 700;
		text-align: center;
	}
	.headline-img {
		padding-top: 20px !important;
	}
}
