<container>
	<row>
		<columns class="footer">
			<p>You elected to to receive these emails.</p>
			<p>
				No longer interested?
				<a
					href="http://email.n.dribbble.com/c/eJxVUMuOwjAM_Jr2VpQ4zaOHHpBW_AZyYgMVbYKalP39DSxaWMkXjz2eGdNIBiyYdhoHFwZt2HQcwHY9ouoG5XRn5UmgVv3gSDa9iDtaJ-_9zLuQlvYyBoGknZYEyqFH7LW1wBQcDMSsoZ3HSym33Kh9A4dan_zarjjPGO_TjLXZYt58DnWDG3XgO8fSqC-mLWCZUmzAlHTlWDFy1sNJa2WraQGE0nuCkyKBQaKRwRlUZGV1rw2FXrieFANIiYG9t_XUVpZjSLH8ivyXfs5wueF0fqh9p_WaL-l2FOoI8OIuTNO2PPwtOM0vMKdtDfxBye06rrt3yF6cH-vP75XxGbH7C1iRN6-Mfk1IAXPJP30ii5U"
					>Unsubscribe</a
				>
				or
				<a
					href="http://email.n.dribbble.com/c/eJxNj81uhDAMhJ8GbiBIIAmHHFaq9jWQccwSNT8oCdvXb7at1JV8sGfmkzVGG8EkE63Vi8JlFiQ6Qia7CYB3C1dzJ8d9gJlPizJjMw2hN8lu2-aox-jbQ6uZ1I4ChdwHGlEIPktBYAAVoCHZOn2UcuaG3xp2r_PO1xMQ4xVK3UIsdrcIxcZQ4_er-BXBn2AfoeEfXzF95iOe68BXxhomXr4nYy9fXfJg3Z-Y45WQ3pDcJp16cA7C0zqoNR6v-E-DoulJoXRkrt_XVfnnit5SBIOQS_4GZMlk2Q"
					>manage your subscriptions</a
				>
			</p>
			<p>
				Dribbble Holdings Ltd. •
				<span>524 Yates St. • Victoria, BC V8W1K8, Canada</span>
			</p>

			<center>
				<img
					src="https://ci5.googleusercontent.com/proxy/oAsDzzEMKE5viOxOMs5itvNUvTNPT7ZSVmng2j6mYUZa0VazrZPQb79IbgNGcb7corK7MtACxMFTwzdow0GObra78mk8VJxW8FdJgS3uQv0wBDvk4PWI-yzYWu0gulVb-YaApzkLae49LK_zuALx5JVq7h9FDY23AA3jarridz2Zi7IaFiy-gb4aBwg=s0-d-e1-ft#https://dribbble.com/assets/html-email/dribbble-ball-dd74e659cd010c1f38eeca10d9a76251062811ccfd11b657bd9f73adc3a937e6.png"
					alt="dribbble logo"
				/>
			</center>
		</columns>
	</row>
</container>
