<container>
	<row>
		<columns class="header">
			<center>
				<img
					class="header-logo"
					src="https://ci6.googleusercontent.com/proxy/o7Xx_tW3JkltEpIBUUT_e00hRSNsqtSTgXHtxQYwvpexZeQNe3cWPGHjG-SgkzUtXP6RRwxI9Hq8uiNNcblTQSM9f-6pWrGyC15Uh3aAYBDojUli9qI4tkbKxt4ya657TLv_3qk-_O0njmzk45SnqhW8pTjt3gzYliTzgEfQVJer9b2QJGcipVzxNGS02w=s0-d-e1-ft#https://dribbble.com/assets/html-email/dribbble-header-1dd96fc9f752375b39235b856078dc6d27f5712e89be9902f269b2b71fa36cd9.gif"
					alt="dribble logo"
				/>
			</center>
			<h1 class="headline">{{dribbleEmail.title}}</h1>
			<img
				class="headline-img"
				src="{{dribbleEmail.headerImg.image}}"
				alt="Learn UI/UX Design with Jesse Showalter"
			/>
		</columns>
	</row>
</container>
